#employed-cleaners-container {
    width: 30%;
    height: 350px;
    overflow: auto;
}


#profile-bar{
    width: 40%;
}

#profile-empty-container {
    margin-bottom: 90px;
}

#profile-picture-container {
    width: 30%;
    float: left;
}

.red-colored {
    color: red;
}

#bold-font {
    margin-top: 10px;
    font-weight: bold;
}

#submit-button-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo-image {
    width: 110px;
    height: 100px;
}

#nav-bar-buttons-container {
    width: 100%;
}

#navbar-icons {
    color: #aaaccc;
}

.cleaner-experience {
    font-size: 15px !important;
}

