.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*profile card*/

body {
  background-color: #f9f9fa
}

.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

/*navbar*/

#masthead {
  min-height:270px;
  background-color:#212529;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
}

#masthead .well {
  margin-top:13%;
  background-color:#111155 ;
  border-color:#000033;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 100px;
  }
}

.question-box {
  text-align: center;
}

/*modal*/

.modal-confirm {
  color: #434e65;
  width: 525px;
}
.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  background: #e85e6c;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-confirm .close:hover {
  opacity: 0.8;
}
.modal-confirm .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}
.modal-confirm .icon-box i {
  font-size: 58px;
  margin: -2px 0 0 -2px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #eeb711 !important;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #eda645 !important;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.question-page-buttons-container {
  margin-top: 20px;
}